* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
    transition: 0.5s;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #f9fafc;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.nav-btn {
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: #fff;
    margin-right: 50px;
    margin-top: 10px;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

.navbrand {
    width: 100px;
    margin-left: 30px;
}

.logo-img {
    width: 100%;
}


/* .hero_content {
    display: flex;
    width: 120px;
} */

.container {
    /* background-color: aquamarine; */
    display: flex;
    width: 100%;
    height: 500px;
}

.right_content {
    /* margin-left: 50%; */
    width: 50%;
    height: 100vh;
    /* background-color: rgb(16, 39, 173); */
}

.hero_content {
    position: relative;
}

.hero_img {
    position: absolute;
    top: 110px;
    left: 100px;
    width: 82%;
    height: 450px;
    border-radius: 10px;
}

.hero_img-shap {
    position: absolute;
    left: 60px;
    top: 70%;
}

.hero_img-ptn {
    position: absolute;
    left: 90px;
    top: 50%;
    /* width: 40%;
    height: 300px; */
}

.hero_descri {
    width: 50%;
    position: relative;
    /* top: 0; */
    height: 100vh;
    /* background-color: aqua; */
    /* margin-left: 2rem; */
}

.heading_cont {
    position: absolute;
    font-size: 2rem;
    /* padding: 100px; */
    top: 45%;
    left: 130px;
    color: #1d3557;
    font-weight: 600;
    height: 150px;
    /* align-items: center; */
    letter-spacing: .5px;
    
}

.btn {
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: #fff;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    top: 62%;
    left: 130px;
}
