@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
    transition: 0.5s;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #f9fafc;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.nav-btn {
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: #fff;
    margin-right: 50px;
    margin-top: 10px;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

.navbrand {
    width: 100px;
    margin-left: 30px;
}

.logo-img {
    width: 100%;
}


/* --------------------------------------------------------------------------------------------------------------------- */


/* .hero_content {
    display: flex;
    width: 120px;
} */

.container {
    /* background-color: aquamarine; */
    display: flex;
    width: 100%;
    height: 50%;
}

.right_content {
    /* margin-left: 50%; */
    width: 50%;
    height: 100vh;
    /* background-color: rgb(16, 39, 173); */
    /* overflow-y: hidden; */
}

.hero_content {
    position: relative;
    top: 55px;
}

.hero_img {
    position: absolute;
    top: 110px;
    left: 100px;
    /* bottom: 3rem; */
    width: 82%;
    height: 450px;
    border-radius: 10px;
}

.hero_img-shap {
    position: absolute;
    left: 60px;
    top: 4rem;
    bottom: 10rem;
    height: 650px;
}

.hero_img-ptn {
    position: absolute;
    left: 90px;
    top: 3rem;
    right: 1rem;
    /* width: 40%;
    height: 300px; */
}

.hero_descri {
    width: 50%;
    position: relative;
    /* top: 0; */
    height: 100vh;
    /* background-color: aqua; */
    /* margin-left: 2rem; */
}

.heading_cont {
    position: absolute;
    font-size: 2rem;
    /* padding: 100px; */
    top: 60%;
    left: 150px;
    color: #1d3557;
    font-weight: 600;
    height: 150px;
    /* align-items: center; */
    letter-spacing: .5px;
}

.btn {
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: #fff;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    top: 77%;
    left: 150px;
}


/* --------------------------------------------------------------------------------------------------------- */

.sec_container {
    width: 100%;
    height: 400px;
    /* background-color: #910e9a; */
}

.back_box {
    position: relative;
}

.box_child {
    position: absolute;
    left: 40%;
    top: 5rem;
    width: 300px;
    height: 200px;
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
}

.video {
    position: relative;
}

.v_child {
    position: absolute;
    left: 38%;
    top: 4rem;
}

.p_cont {
    position: relative;
}

.p_child {
    position: absolute;
    top: 20rem;
    left: 20%;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    color: #1d3557;
    font-weight: 600;
}


/* ---------------------------------------------------------------------------------------------- */

.thir_container {
    width: 100%;
    height: 650px;
    /* background-color: burlywood; */
    position: relative;
}

.poly {
    width: 85%;
    height: 89vh;
    /* margin-left: 10%;
    margin-top: 20%; */
    /* margin-bottom: 20%; */
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    transform: skew(0, -4deg);
    position: absolute;
    top: 1rem;
    left: 6rem;
}

.para {
    font-size: 2rem;
    position: absolute;
    left: 39%;
    font-family: 'Merriweather', serif;
    color: #1d3557;
    font-weight: bold;
}

.img1 {
    position: absolute;
    top: 5rem;
    left: 10rem;
    height: 430px;
    width: 330px;
    background-color: rgb(250, 251, 251);
    border-radius: 10px;
}

.burger {
    width: 330px;
    border-radius: 10px 10px 0 0;
}

.img2 {
    position: absolute;
    top: 4rem;
    left: 35.5rem;
    height: 430px;
    width: 370px;
    background-color: rgb(250, 251, 251);
    border-radius: 10px;
}

.pizza {
    width: 370px;
    border-radius: 10px 10px 0 0;
}

.img3 {
    position: absolute;
    top: 5rem;
    left: 64rem;
    height: 430px;
    width: 330px;
    background-color: rgb(250, 251, 251);
    border-radius: 10px;
}

.icecream {
    width: 330px;
    border-radius: 10px 10px 0 0;
}

.i_para {
    margin: 3px;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    padding: 2px;
}

.is_para {
    margin: 3px;
    font-size: .8rem;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    padding: 2px;
}

span {
    color: red;
}

.p--btn {
    position: absolute;
    top: 85%;
    left: 45%;
    /* bottom: 50%; */
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: #fff;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}


/* ----------------------------------------------------------------------------------------------- */

.fourth_container {
    width: 100%;
    height: 500px;
    display: flex;
    /* background-color: brown; */
}

.left {
    width: 50%;
    height: 500px;
    /* background-color: cornflowerblue; */
    position: relative;
}

.cont {
    position: absolute;
    top: 15rem;
    left: 8rem;
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    color: #1d3557;
}


/* -------------------------------------------------------------------------------------------------------------------------- */

.five_container {
    width: 100%;
    height: 200px;
    /* background-color: darkslateblue; */
}

#left {
    position: relative;
}

.par_up {
    position: absolute;
    top: 5rem;
    left: 35rem;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    /* text-align: center; */
}

#right {
    display: flex;
    position: relative;
}

.big-box {
    position: absolute;
    top: 8rem;
    left: 35rem;
}

.email {
    width: 220px;
    height: 28px;
    border: solid palevioletred;
    background-color: pink;
    border-radius: 3px;
}

.btn-bx {
    position: absolute;
    top: 7rem;
    left: 50rem;
}

.sm--bx {
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: #fff;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}


/* --------------------------------------------------------------------------------------------------------------- */

.six_content {
    width: 100%;
    height: 430px;
    /* background-color: lemonchiffon; */
}

.f_img {
    position: relative;
    top: 5rem;
    left: 5rem;
    width: 90%;
    height: 300px;
    /* background-color: #f9fafc; */
}

.fo--img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.fo--para {
    position: absolute;
    left: 10rem;
    top: 7rem;
    /* bottom: 3rem; */
    /* margin-bottom: 10rem; */
    font-size: 1.7rem;
    color: #f9fafc;
    letter-spacing: 0.5px;
    padding: 10px;
    font-weight: bolder;
    font-family: 'Merriweather', serif;
}

.sp {
    padding-left: 25rem;
}


/* --------------------------------------------------------------------------------------------------------------------- */

.footer_sec {
    width: 100%;
    height: 200px;
    /* background-color: aquamarine; */
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    border-radius: 7px 7px 0 0;
}

.par--foo {
    display: flex;
    position: relative;
}

.font1 {
    position: absolute;
    top: 4rem;
    left: 20rem;
    font-weight: bolder;
    color: #fff;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.font2 {
    position: absolute;
    top: 3rem;
    left: 60rem;
}

.font2 li a {
    text-decoration: none;
    gap: 5px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #fff;
    padding: 3px;
}

.font2 ul li {
    color: #fff;
}